.property-setup-container {
    border: 1px solid var(--border-color);
    padding: 20px;
    height: 100vh;
    overflow: auto;
    /* new dialog */
    
}
/* .property-setup-dialog{
    position: fixed;
    top: 0;
    left:0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
} */

.property-setup-container::-webkit-scrollbar {
    display: none;
}

.property-setup-container>h2 {
    text-align: center;
}

.logo-uploader {
    margin: 20px 0;
    border-radius: 10px;
    width: 342px;
    height: 140px;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
}
/* .logo-uploader input[type="file"] {
    display: none;
  } */
.business-info-container {
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    padding: 15px 0;
    margin-bottom: 15px;
}

.busines-info-header {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.business-info-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.business-info-form .business-info-form-field {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.business-info-form-field label {
    font-size: 14px;
    font-weight: 600;
}

.business-info-form-field input,
select {
    border: 2px solid var(--border-color);
    outline: none;
    border-radius: 10px;
    height: 35px;
    padding: 0 10px;
    transition: all 0.3s;
}

.business-info-form-field input:focus{
    border: 2px solid var(--bg-color);
}
.business-info-form-field select:focus{
    border: 2px solid var(--bg-color);
}

.add-inventory-cont {
    border-radius: 16px;
    border: 1px solid #2FA551;
    background: #F9FAFB;
    width: 150px;
    display: flex;
    /* gap: 10px; */
    align-items: center;
    color: #2FA551;
}

.add-inven-icon {
    width: 24px;
    height: 24px;
    
    border-radius: 50%;
    margin: 4px 4px;
}

.business-info-btn{
    padding: 12px 0;
    width: 100%;
    margin-top: 20px;
    background: #E5E7EB;
    border-radius: 12px;
    cursor: pointer;
    outline: none;
    border: none;
    color: #9CA3AF;
}

/* modal css */
.modal {
    font-family: arial;
  }
  
  .modal {
    position: fixed;
    width: 400px;
    z-index: 1040;
    top: 50%;
    height: 90vh;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 3px;
    overflow: auto;
    
  }
  .modal::-webkit-scrollbar{
    display: none;
  }
  .backdrop {
    position: fixed;
    z-index: 1040;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.5;
  }
  
  .modal-title {
    font-weight: 500;
    font-size: 1.25rem;
  }
  
  .modal-header {
    border-bottom: 1px solid #e9ecef;
    display: flex;
    justify-content: space-between;
  }
  
  .modal-desc,
  .modal-header,
  .modal-footer {
    padding: 12px;
  }
  
  .close-button {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    border: none;
    background-color: white;
    opacity: 0.7;
    cursor: pointer;
  }
  button {
    cursor: pointer;
    font-size: 1rem;
    padding: 10px 12px;
    border-radius: 5px;
    border: none;
  }
  
  .modal-footer {
    border-top: 1px solid #e9ecef;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
  }
  
  .secondary-button {
    color: #fff;
    background-color: #6c757d;
  }
  .primary-button {
    color: #fff;
    background-color: #007bff;
  }
  
  /* .modal-example {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  } */

  /* inventory */
  .inventory-container{
    padding: 20px;
    text-align: center;
}
.inventory-heading {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
.inventory-form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.inventory-form .input-field{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .input-field label{
    text-align: left;
    font-size: 14px;
    font-weight:  600;
  }
  .input-field input ,select{
    border: 2px solid var(--border-color);
    outline: none;
    border-radius: 10px;
    height: 35px;
    padding: 0px 10px;
    transition: all 0.3s;
  }
  /* .input-field select{
    border: 2px solid var(--border-color);
    outline: none;
    border-radius: 10px;
    height: 35px;
    padding: 0px 10px;
    width: 100%;
    transition: all 0.3s;
  } */

  .cancel-btn{
    width: 100%;
    margin: 20px 0;
    padding: 12px 0;
    border-radius: 12px;
    color: #2FA551;
    outline: none;
    border: 1px solid;
  }

  .save-btn{
    width: 100%;
    padding: 12px 0;
    border-radius: 12px;
    background: #2FA551;
    outline: none;
    border: none;
    color: white;
  }